<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">Customer Form</div>
            <div class="card-body">
                <form [formGroup]="customerForm" (submit)="handleSubmit($event)">
                    <div class="form-group">
                        <label>FirstName</label>
                        <input class="form-control" autofocus formControlName="firstName" />
                        <div class="text-danger">
                            {{errors['firstName']}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>LastName</label>
                        <input class="form-control" formControlName="lastName" />
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" formControlName="email" />
                    </div>

                    <div class="form-group">
                        <label>Mobile</label>
                        <input class="form-control" formControlName="mobile" />
                    </div>
                    <br />
                    <div class="form-group">
                        <label>Notification:</label>
                        <input type="radio" value="email" formControlName="noti" (change)="notiChange('email')" /> Email
                        <input type="radio" value="sms" formControlName="noti" (change)="notiChange('sms')" /> SMS
                    </div>
                    <br />
                    <hr />
                    <div formArrayName="addressFormArray">
                        <div *ngFor="let group of addressFormArray.controls;let i=index" [formGroup]="group"
                            class="card">
                            <div class="card-header">Address</div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Primary</label>
                                    <input type="checkbox" formControlName="primary" />
                                </div>
                                <div class="form-group">
                                    <label>City</label>
                                    <input class="form-control" formControlName="city" />
                                </div>
                                <div class="form-group">
                                    <label>State</label>
                                    <select class="form-control" formControlName="state">
                                        <option selected value="Choose">Choose</option>
                                        <option *ngFor="let state of states" [value]="state">{{state}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Zip</label>
                                    <input class="form-control" formControlName="zip" />
                                </div>
                            </div>
                            <button (click)="removeAddress(i)" class="btn btn-danger" type="button">Remove
                                Address</button>
                        </div>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-around">
                        <button (click)="addNewAddress()" class="btn btn-primary" type="button">Add New</button>
                    </div>
                    <hr />
                    <br />
                    <button class="btn btn-dark" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6">
        <pre>
            <!-- <hr/>
            Form Data
            <hr/>
            {{customerForm.value|json}} -->
            <hr/>
            Form Group
            <hr/>
            is pristine : {{customerForm.pristine}}
            is dirty : {{customerForm.dirty}}
            is untouched : {{customerForm.untouched}}
            is touched : {{customerForm.touched}}
            is valid : {{customerForm.valid}}
            is invalid : {{customerForm.invalid}}
        </pre>
        <!-- <pre>
            <hr/>
            Form Control ( e.g lastName)
            <hr/>
            is pristine : {{customerForm.controls['lastName'].pristine}}
            is dirty : {{customerForm.controls['lastName'].dirty}}
            is untouched : {{customerForm.controls['lastName'].untouched}}
            is touched : {{customerForm.controls['lastName'].touched}}
            is valid : {{customerForm.controls['lastName'].valid}}
            is invalid : {{customerForm.controls['lastName'].invalid}}
        </pre> -->
    </div>
</div>