<div class="alert alert-info" *ngIf="products.length===0">No Products</div>
<table class="table">
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td><a [routerLink]="['product-view',product.id]">{{product.name}}</a></td>
            <td>{{product.price|currency}}</td>
            <td><a [routerLink]="['product-edit',product.id]">Edit</a></td>
        </tr>
    </tbody>
</table>

<hr />

<div class="row">
    <div class="col-6">
        <router-outlet></router-outlet>
    </div>
    <div class="col-6">
    </div>
</div>